{% extends 'base.html.twig' %}

{% block title %}New TableReservation{% endblock %}

{% block body %}
    <h1>Create new TableReservation</h1>

    {{ include('table_reservation/_form.html.twig') }}

    <a href="{{ path('app_table_reservation_index') }}">back to list</a>
{% endblock %}
